body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.select-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 30%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    width: 96.5%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

::placeholder {
    font-family: Arial, sans-serif;
}

p {
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.label-style {
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

button {
    display: block;
    width: 100%; /* 自动适应内容宽度 */
    padding: 8px 16px; /* 调整按钮内边距，使其更加紧凑 */
    margin: 10px auto; /* 水平居中，并增加上下边距 */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button#refresh_button {
    background-color: #6c757d;
}

button#refresh_button:hover {
    background-color: #555e66;
}

#editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

#rule_name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    height: auto;
}

#rule_name_label {
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
}

#rule_name_input {
    flex: 1;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    height: 100%;
}
